* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-100: #fff;
  --white-200: #f2f3f5;

  --blue-200: #5965e0;
  --blue-300: #4953b8;
  --green: #4cd62b;
  --gray-300: #2e384d;
  --gray-600: #666;
  --red: #e83f5b;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

/* < tablet */
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--white-200);
  color: var(--gray-600);
}

body,
input,
textarea,
button {
  font: 400 16px "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}
